body{

    margin: 0% auto;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(202, 199, 199);

}

.main__container{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .banner__background{

        background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/6-things-to-do-list.webp');
        height: 40vh; 
        width: 100%;
        display: flex;
        flex-direction: column;
        color: white;

        .title {
            display: flex;

            h2{

                margin: 7% 0 0 35%;
    
            }

            .fa-moon{
                margin: 7% 0 0 350px;
                font-size: 20px;

                &:hover {
                    cursor: pointer;
                    color: yellow;
                }
            }

            .fa-sun{
                margin: 7% 0 0 10px;
                font-size: 20px;

                &:hover {
                    cursor: pointer;
                    color: yellow;
                }
            }
        }

    }

    .list__container{

        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 200px;

        .name__container, .task__container{

            display: flex;
            width: 100%;
            justify-content: center;
            margin-bottom: 25px;
            border-radius: 6px;
            padding: 0.5rem;
            font-size: 2rem;
            border: none;
            background: white;

            .list__name{
                padding: 0.5rem;
                border: none;
                width: 100%;
            }

            .task__list{
                width: 475px;
                height: 100%;
                padding: 10px 12px 50px 13px;
                background-color: white;
                border-radius: 6px;
                font-size: 12px;
                list-style: none;

                .element {
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;

                    strike {
                        opacity: 0.5;
                        background: rgb(206, 206, 206);
                    }

                    .buttons {

                        .fa-check {
                            padding: 5px 5px;
                            color: green;

                            &:hover {
                                cursor: pointer;
                                background: green;
                                color: white;
                                border-radius: 6px;
                            }
                        }

                        .fa-trash {
                            padding: 5px 5px;
                            color: red;

                            &:hover {
                                cursor: pointer;
                                background: red;
                                color: white;
                                border-radius: 6px;
                            }
                        }

                        .fa-edit {
                            padding: 5px 5px;
                            color: grey;

                            &:hover {
                                cursor: pointer;
                                background: grey;
                                color: white;
                                border-radius: 6px;
                            }
                        }
                    }
                }
            }

            #todoButton {
                border: none;
                background: none;
                
                .fa-plus {
                    padding: 5px 5px;
                    font-weight: 600;
                    color: blue;

                    &:hover {
                        cursor: pointer;
                        background: blue;
                        color: white;
                        border-radius: 6px;
                    }
                }
            }

            

        }

        .list__functions{

            display: flex;
            width: 100%;
            height: 50px;
            justify-content: center;
            background-color: white;
    
            &--all, &--active, &--completed{
    
                border: 1px solid transparent;
                background-color: transparent;
                font-weight: bolder;
                color: gray;
    
            }
    
        }
    

        .list__footer{

            display: flex;
            width: 500px;
            align-content: center;
            align-items: center;
            position: relative;
            top: -60px;
            color: gray;

            .task__counter{
                flex-basis: 50%;
                padding-left: 10px;
                .task__count{

                    flex-basis: 50%;
                    width: 10px;
                    height: 15px;
                    border: 1px solid transparent;
                    color: gray;
                    align-self: flex-start;
                    background-color: transparent;
                    font-size: 16px;

                }
            }

            .clear__button{
                margin-left: 90px;
                button{

                    flex-basis: 50%;
                    background-color: transparent;
                    border: 1px solid transparent;
                    font-size: 16px;
                    color: gray;

                    &:hover {
                        cursor: pointer;
                        color: white;
                        background: gray;
                        border-radius: 6px;
                    }

                }
            }

        }

        .body__container{

            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 50px;
            background: none;
    
            .footer{
    
                font-weight: bolder;
    
            }
    
        }

        
    }

    


    .list__functions{

        display: flex;
        width: 500px;
        height: 50px;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 6px;

        &--all, &--complete, &--ongoing{

            border: 1px solid transparent;
            background-color: transparent;
            font-weight: bolder;
            color: gray;
            height: 20px;

            &:hover {
                cursor: pointer;
                color: white;
                background: gray;
                border-radius: 6px;
            }

        }

    }

}

.none {
    display: none;
}

.flex {
    display: flex;
}
